#info {
    text-align: center;
}

img {
    max-width: 4em;
    max-height: 4em;
    margin-left: -2em;
}

#bigbox {
    background-color: lightgrey;
}

#medbox {
    background-color: darkcyan;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}